body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 120%;
  background-color: whitesmoke;
  margin: 3rem 5rem;
}

@import 'loader';

.container {
  max-width: 860px;
}

.top-bar {
  height: 70px;
  background-image: linear-gradient(to bottom right, #118ab2, #06d6a0);
  display: flex;
  align-items: center;
  justify-content: space-between;

  h2 {
    margin: 0 1.4rem;

    a {
      color: white;
      text-decoration: none;

      &:hover {
        color: burlywood;
      }
    }
  }

  button {
    margin-right: 1.4rem;
  }
}

.form-group {
  margin-bottom: 1rem;

  label {
    display: block;
    width: 100%;
    margin-bottom: 0.2rem;
  }

  input {
    width: 100%;
    padding: 0.3rem 0.4rem;
    font-size: inherit;
  }
}

button {
  background-color: steelblue;
  color: whitesmoke;
  font-size: 90%;
  border: none;
  padding: 0.5rem 0.6rem;
  cursor: pointer;

  &:hover {
    background-color: palevioletred;
  }
}

dl.event-details {
  line-height: 2.4rem;

  dt {
    float: left;
  }

  dd {
    margin-left: 30px;
    font-size: 110%;
  }
}
